* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.pointer {
    cursor: pointer;
}
div#cart-card {
    position: relative;
}
div.delete-icon {
    position: absolute;
    top: -15px;
    left: -8px;
}
div.jumbotron {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}
div.input-container {
    width: 50%;
}
span#cart-elements.active {
    background-color: rgb(122, 122, 122);
    border-radius: 50px;
    padding: 4px;
    color: white;
}

